<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - hackaton</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logcss.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hackaton.styles.css" asp-append-version="true" />


</head>



<body>

         @RenderBody()

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/log.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
