@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav>
        <a asp-controller="Home" asp-action="Index">Главная</a>
        <a asp-action="Index">Ответы на заявки</a>
        <a href="#">Добавление нового автобуса</a>
    </nav>
</header>

<main>
    <div class="container">

        <section>
            <h1>Список Автобусов</h1>
            <ul class="bus-list">
                <li class="bus-item">Автобус 1</li>
                <li class="bus-item">Автобус 2</li>
                <li class="bus-item">Автобус 3</li>
                <li class="bus-item">Автобус 4</li>
                <li class="bus-item">Автобус 5</li>
            </ul>
        </section>

    </div>
</main>

<footer>
    <p>&copy; 2024 Урал Батыр</p>
</footer>